*{
    margin: 0;
    padding: 0;
}
header{
    background-color: #5e5d5d;
    color: #fff;
    padding: 1rem;
    text-align: center;
}
#cart{
    display: none;
    position: absolute;
    top: 0;
    right: 0;
    background-color: #fff;
    padding: 1rem;
    border: 1px solid #ddd;
}
#cart-button{
    width: 100px;
    height: 30px;
    border-radius: 10px;
}
#cart-button:hover {
background-color: #fcec06;
}
#cart-list{
    list-style: none;
    padding: 0;
    margin: 0;
}
#products{
    margin-left: 250px;
    padding-top: 10px;
}
.product{
display: inline-block;
margin: 1rem;
padding: 1rem;
border: 1px solid #ddd;
border-radius: 8px;
box-shadow: 0 4px 8px rgba(0, 0, 0, 0.8);

}
.product:hover {
  transform: scale(1.05);
  transition: transform 0.2s;
  box-shadow: 0 0 25px rgba(17, 17, 17, 0.7), 0 4px 30px rgba(0, 0, 0, 0.3);
}
.product img{
    width: 200px;
    height: 200px;
    cursor: pointer;
    border-radius: 20px;
}
.product, p,button{
display: inline-block;
}
.product p:hover{
    color: yellow;
    font-size: larger;
    cursor: pointer;
}
.add-to-Cart{
    margin-left: 30px;
    color: #000000;
    height: 30px;
    width: 100px;
    border-radius: 10px;
    border: 1px solid black;
    cursor: pointer;
    background-color: #ddd;
}
.add-to-Cart:hover {
background-color: #fcf806;

}